<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <base href="/assets/client/" />
  <title>TradeShop | Category Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <script type="text/javascript" src="js/arial.js"></script>
  <script type="text/javascript" src="js/cuf_run.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="main">
    <div class="main_resize">
      <div class="header">
        <div class="logo">
          <h1><a href="#"><span>Trade</span>Shop</a></h1>
        </div>
        <div class="search">
          <form method="get" id="search" action="/search">
            <input class="form-control" name="searchKey" type="search" placeholder="Search..." aria-label="Search">
            <button class="btn btn-danger" type="submit">Search</button>
          </form>
          <!--/searchform -->
          <div class="clr"></div>
        </div>
        <div class="clr"></div>
        <div class="menu_nav">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/addproduct">Post Prouct</a></li>
            <li><a href="/user-profile-<%= user._id%>">User Profile</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
          <div class="clr"></div>
        </div>
        <div class="hbg"><img src="images/tradeshop.jpg" width="923" height="291" alt="" /></div>
      </div>
      <div class="content">
        <div class="content_bg">
          <h3>
            <%=category.cate_name%> (Have
                <%=total%> product)</h3>
                <div class="mainbar">
                  <% for (let product of products) {%>
                  <%-include("components/product-item", {product})%>
                  <%}%>
                </div>
          <div class="sidebar">
            <div class="gadget">
              <h2 class="star"><span>Sidebar</span> Menu</h2>
              <div class="clr"></div>
              <ul class="sb_menu">
                <% for(let menu of menus) { %>
                <li><a href="/category-<%= menu._id %>"><%= menu.cate_name %></a></li>
                <% } %>
              </ul>
            </div>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
    <div class="fbg">
      <div class="fbg_resize">
        <div class="col c1">
          <h2><span>About Website</span></h2>
          <p>The site aims to create an environment for buying and selling second hand goods between buyers and sellers. Mainly listening devices and video transmitters.</p>
        </div>
        <div class="col c2">
          <h2><span>Contact Support</span></h2>
          <p>Email: admin@gmail.com</p>
          <p>Phone: 0355373838</p>
          <p>Address: Trung Kinh Street, Ha Noi</p>
        </div>
        <div class="col c3">
          <img src="images/logo.png" width="290" height="130" alt="" />
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</body>

</html>